@import "../../../styles/variables";

.app__table {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: $color-primary-light;
    font-size: 1.3rem;
    font-weight: 700;
    color: $color-secondary;
    opacity: 0.7;
  }

  td {
    font-size: 1.3rem;
    font-weight: 700;
    color: $color-secondary;
  }

  &__image {
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    background-color: $color-primary-light;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h2 {
    font-size: 1.3rem;
    color: $color-secondary;
  }

  p {
    font-size: 1.1rem;
    color: $color-secondary;
    opacity: 0.5;
  }

  .badge {
    color: $color-success;
  }
}
