$color-primary: #347ae2;
$color-secondary: #243970;
$color-primary-light: #f6faff;

$color-white: #ffffff;
$color-dark: #212121;

$color-orange: #ed7d3f;
$color-purple: #9b54e2;
$color-success: #29b171;
$color-danger: #f64445;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #e8eefa;

$default-font-size: 1.5rem;
